.search {
  width: 100%;
  margin: 4rem 0 0rem;
}
.search form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  filter: drop-shadow(2px 4px 3px rgba(189, 168, 210, 0.5));
}

.search input[type='text'] {
  display: block;
  flex: 1 1 100%;
  padding: 1.5rem 2rem;
  border: none;
  background-color: #5f3883;
  border-radius: 50px;
  font-family: inherit;
  text-transform: capitalize;
  font-weight: bold;
  transition: all ease-in 0.3s;
  text-align: left;
  font-size: 1.4rem;
  color: #fff;
  box-shadow: 4px 4px 8px rgba(95, 56, 131, 0.3);
}

.search input[type='text']:hover,
.search input[type='text']:focus {
  border: none;
  background-color: #442660;
  outline: none;
  box-shadow: 4px 4px 8px rgba(95, 56, 131, 0.5);
}

.search input[type='text']::placeholder {
  color: #fff;
}

.search input[type='submit'] {
  width: 150px;
  border: none;
  border-radius: 50px;
  background-color: #bda8d2;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  font-family: inherit;
  text-transform: capitalize;
  transition: all ease-in 0.3s;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.search input[type='submit']:hover {
  cursor: pointer;
  background-color: #b193cd;
}
