.imgCard {
  height: 270px;
  position: relative;
  overflow: hidden;
}

.imgCard::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.imgCard:hover::before {
  display: none;
}

.imgCard img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  filter: Drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  object-fit: cover;
}

.cardInfo {
  width: 100%;
  z-index: 9;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5rem;
  box-sizing: border-box;
  display: none;
}

.cardInfo svg {
  vertical-align: middle;
}
.cardInfo h4 {
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}

@keyframes popin {
  0% {
    opacity: 0;
    transform: translate(0%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

.imgCard:hover .cardInfo {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);

  animation: popin 0.2s ease-out;
}

.imgDownload {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  display: none;
}
.imgDownload ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.imgDownload ul li {
  list-style: none;
  font-size: 0.7rem;
  text-align: center;
}
.imgDownload a {
  color: #fff;
  text-decoration: none;
}

.imgCard:hover .imgDownload {
  display: block;

  animation: popin 0.2s ease-out;
}

.imgZoom a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 55;
  box-sizing: border-box;
  cursor: pointer;
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 75px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);
  display: none;
}

.imgCard:hover .imgZoom a {
  display: block;

  animation: slideIn 0.2s ease-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
